@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS
----------------------------------------------------------------

# CUSTOM PROPERTIES
# BASE
# COMMON
  ## LODING
  ## HEADER
    ### headLogo
    ### hamburger
    ### gnav
  ## FOOTER
  ## BREADCRUMB
  ## PAGETITLE
  ## POST TITLE
  ## POST LIST
  ## TAB LIST
  ## PAGE TOP
  ## POST TIMES
  ## ARTICLE BOTTOM
# BLOG PARTS
# PAGE
  ## TOP
    ### mainVisual
  ## WORKS
    ### articleFoot
    ### mainContent
    ### swell-block-fullWide
  ## ABOUT
  ## NEWS
  ## CONTACT
# WIDGET
# PLUGIN
  ## wpforms
  ## WP-Members
# ADD
  ## container
  ## works-header
  ## works-category
# UTILITY


/*--------------------------------------------------------------
>>> MEMO
----------------------------------------------------------------

背景旧 #F7F5F3
背景新 #ecece7

メディアクエリ
@media (min-width: 600px)
@media (min-width: 960px)
@media (min-width: 1200px)

clamp計算
最小：360px
最大：1400px

参考サイト
https://free.page-craft.jp/clamp/
*/

/*-------------------------------------------------------------
# CUSTOM PROPERTIES
-------------------------------------------------------------*/
:root {
  --child-clamp-font-lv0: clamp(.625rem, .538rem + .385vw, .875rem); /* 10px 〜 14px */
  --child-clamp-font-lv1: clamp(.875rem, .659rem + .962vw, 1.5rem); /* 14px 〜 24px */
  --child-clamp-font-lv2: clamp(1rem, .827rem + .769vw, 1.5rem); /* 16px 〜 24px */
  --child-clamp-font-lv3: clamp(1.125rem, .909rem + .962vw, 1.75rem); /* 18px 〜 28px */
  --child-clamp-font-lv4: clamp(1.5rem, 1.111rem + 1.731vw, 2.625rem); /* 24px 〜 42px */
  --child-clamp-font-lv5: clamp(1.75rem, 1.361rem + 1.731vw, 2.875rem); /* 28px 〜 46px */
  --child-clamp-font-lv6: clamp(1.75rem, 1.188rem + 2.5vw, 3.375rem); /* 28px 〜 55px */
  --child-clamp-font-lv7: clamp(1.75rem, 1.317rem + 1.923vw, 3rem); /* 28px 〜 48px */
  --child-color-accent-primary: #ffc107;
  --child-color-accent-secondary: #f09f4d;
  --child-color-accent-tertiary: #deaa52;
  --child-color-base: #f7f5f3;
  --child-color-base-darken-lv0: #ede8e4;
  --child-color-base-darken-lv1: #e3dbd4;
  --child-color-base-darken-lv2: #d8cfc5;
  --child-color-base-darken-lv3: #cec2b6;
  --child-color-base-darken-lv4: #c4b5a6;
  --child-color-base-darken-lv5: #baa897;
  --child-color-gray-lv0: #dfe0e2;
  --child-color-gray-lv1: #c5c6c9;
  --child-color-gray-lv2: #aaacb1;
  --child-color-gray-lv3: #8f9299;
  --child-color-gray-lv4: #757880;
  --child-color-gray-lv5: #5d5f65;
  --child-color-gray-lv6: #44464b;
  --child-color-gray-lv7: #2c2d30;
  --child-color-main: #23272f;
  --child-color-main-darken-lv0: #1f2229;
  --child-color-main-darken-lv1: #1a1d23;
  --child-color-main-darken-lv2: #16181d;
  --child-color-main-darken-lv3: #121418;
  --child-color-main-darken-lv4: #020303;
  --child-color-main-darken-lv5: #0d0f12;
  --child-color-main-lighten-lv0: #020303;
  --child-color-main-lighten-lv1: #2e333e;
  --child-color-main-lighten-lv2: #393f4c;
  --child-color-main-lighten-lv3: #444b5b;
  --child-color-main-lighten-lv4: #4f5769;
  --child-color-main-lighten-lv5: #596478;
  --child-container-size-lg: 1200px;
  --child-container-size-md: 960px;
  --child-container-size-sm: 1000px;
  --child-directory-path: "./assets/image/";
  --child-font-family-default: "Montserrat", "Noto Sans JP", sans-serif;
  --child-font-size-lv0: .75em;
  --child-font-size-lv1: .875em;
  --child-font-size-lv2: 1em;
  --child-font-size-lv3: 1.125em;
  --child-font-size-lv4: 1.25em;
  --child-font-size-lv5: 1.5em;
  --child-font-size-lv6: 2em;
  --child-font-size-lv7: 2.5em;
  --child-font-size-lv8: 3.25em;
  --child-font-weight-lv0: 100;
  --child-font-weight-lv1: 200;
  --child-font-weight-lv3: 300;
  --child-font-weight-lv4: 400;
  --child-font-weight-lv5: 500;
  --child-font-weight-lv6: 600;
  --child-font-weight-lv7: 700;
  --child-font-weight-lv8: 800;
  --child-font-weight-lv9: 900;
  --child-hamburger-height: 2px;
  --child-hamburger-position: 7px;
  --child-hamburger-width: 25px;
  --child-letter-spacing-lv0: 0;
  --child-letter-spacing-lv1: .025em;
  --child-letter-spacing-lv2: .05em;
  --child-letter-spacing-lv3: .075em;
  --child-letter-spacing-lv4: .1em;
  --child-letter-spacing-lv5: .125em;
  --child-letter-spacing-lv6: .15em;
  --child-letter-spacing-lv7: .175em;
  --child-letter-spacing-lv8: .2em;
  --child-letter-spacing-lv9: .3em;
  --child-line-height-lv0: 1;
  --child-line-height-lv1: 1.25;
  --child-line-height-lv2: 1.4;
  --child-line-height-lv3: 1.5;
  --child-line-height-lv4: 1.6;
  --child-line-height-lv5: 1.75;
  --child-line-height-lv6: 1.8;
  --child-line-height-lv7: 2;
  --child-shadow-lv0: 0 2px 2px rgba(34, 34, 34, .2);
  --child-shadow-lv1: 0 4px 4px rgba(34, 34, 34, .2);
  --child-shadow-lv2: 0 8px 8px rgba(34, 34, 34, .2);
  --child-shadow-lv3: 0 12px 12px rgba(34, 34, 34, .2);
  --child-shadow-lv4: 0 16px 16px rgba(34, 34, 34, .2);
  --child-shadow-lv5: 0 24px 24px rgba(34, 34, 34, .2);
  --child-shadow-lv6: 0 32px 32px rgba(34, 34, 34, .2);
  --child-shadow-lv7: 0 40px 40px rgba(34, 34, 34, .2);
}

/*-------------------------------------------------------------
# BASE
-------------------------------------------------------------*/
body {
  font-family: var(--child-font-family-default);
  text-align: justify;
  text-justify: inter-character;
  word-break: break-all;
}

/*-------------------------------------------------------------
# COMMON
-------------------------------------------------------------*/

/*
## LODING
-------------------------------------------------------------*/

#loading {
  align-items: center;
  background-color: var(--child-color-base);
  display: flex;
  height: 100svh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 1s ease-in-out;
  width: 100vw;
  z-index: 9999;
}

#loading.is-hidden {
  opacity: 0;
  visibility: hidden;
}

#loading-wrapper {
  width: 30%;
}

@media (min-width: 600px) {
  #loading-wrapper {
    width: 18%;
  }
}

/*
## HEADER
-------------------------------------------------------------*/
.l-fixHeader .l-fixHeader__inner.l-container {
  max-width: initial;
}

/*
### headLogo
-------------------------------------------------------------*/
.l-header .c-headLogo .c-headLogo__img,
.l-fixHeader .c-headLogo .c-headLogo__img {
  max-width: 184px;
}

@media (min-width: 600px) {
  .l-header .c-headLogo .c-headLogo__img,
  .l-fixHeader .c-headLogo .c-headLogo__img {
    max-width: 234px;
  }
}

.l-header .c-headLogo .c-headLogo__link,
.l-fixHeader .c-headLogo .c-headLogo__link {
  font-size: 1.375em;
  letter-spacing: var(--child-letter-spacing-lv6);
}
/*
### hamburger
-------------------------------------------------------------*/
.c-iconBtn__icon {
  display: none;
}

.l-header__menuBtn {
  position: relative;
}

.c-iconBtn {
  bottom: 0;
  height: var(--child-hamburger-height);
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color .3s;
  width: var(--child-hamburger-width);
}

[data-scrolled="true"] .c-iconBtn {
  background-color: var(--child-color-base);
}

[data-scrolled="false"] .c-iconBtn {
  background-color: var(--child-color-base);
}

[data-scrolled="false"] .home .c-iconBtn {
  background-color: var(--child-color-main);
}

.c-iconBtn::before,
.c-iconBtn::after {
  background-color: inherit;
  content: "";
  display: block;
  height: var(--child-hamburger-height);
  position: absolute;
  transition: transform .125s;
  width: var(--child-hamburger-width);
}

.c-iconBtn::before {
  top: calc(var(--child-hamburger-position) * -1);
}

.c-iconBtn::after {
  top: var(--child-hamburger-position);
}

[data-spmenu="opened"] .l-header {
  z-index: 9999;
}

[data-spmenu="opened"] .c-headLogo .c-headLogo__link img {
  filter: brightness(0) invert(1);
}

[data-spmenu="opened"] .c-iconBtn {
  background-color: transparent;
  height: 100%;
  width: 100%;
}

[data-spmenu="opened"] .c-iconBtn::before,
[data-spmenu="opened"] .c-iconBtn::after {
  background-color: var(--child-color-base);
  top: auto;
  transition: transform .3s;
}

[data-spmenu="opened"] .c-iconBtn::before {
  transform: rotate(45deg);
}

[data-spmenu="opened"] .c-iconBtn::after {
  transform: rotate(135deg);
}

.p-spMenu__inner {
  color: #fff;
  height: 100%;
  transition: all .45s ease-out;
  width: 100vw;
  z-index: 1;
}

.p-spMenu__inner::before {
  background-color: var(--child-color-main-darken-lv5);
  opacity: .8;
}

.p-spMenu__overlay {
  background-color: transparent;
}

.-right .p-spMenu__inner {
  opacity: 0;
  transform: translateX(0);
  transition: opacity .45s;
}

[data-spmenu="opened"] .p-spMenu__inner {
  opacity: 1;
  transform: translateX(0);
}

.p-spMenu__body .c-widget__title.-spmenu {
  background-color: initial;
  color: initial;
}

.c-spnav {
  text-align: center;
}

.c-listMenu a {
  font-size: var(--child-font-size-lv6);
  font-weight: var( --child-font-weight-lv7);
  letter-spacing: var(--child-letter-spacing-lv6);
  padding: 1.1em .5em;
}

.c-spnav a,
.c-listMenu a {
  border-bottom: none;
}

/*
### gnav
-------------------------------------------------------------*/
.l-header .c-gnav > .-current > a,
.l-fixHeader .c-gnav > .-current > a {
  background: transparent;
  color: inherit;
}

.l-header .c-gnav > li:hover > a,
.l-fixHeader .c-gnav > li:hover > a {
  background: transparent;
  color: var(--child-color-base-darken-lv5);
  transition: all .3s ease;
}

.l-header .c-gnav > .menu-item > a .ttl,
.l-fixHeader .c-gnav > .menu-item > a .ttl {
  font-size: var(--child-font-size-lv4);
  font-weight: var(--child-font-weight-lv7);
  letter-spacing: var(--child-letter-spacing-lv6);
}

/*
## FOOTER
-------------------------------------------------------------*/
.l-footer .l-footer__nav {
  padding-bottom: 2em;
}

.l-footer .l-footer__nav li:first-child a {
  border-left: initial;
}

.l-footer .l-footer__nav li {
  flex-basis: 50%;
  text-align: center;
}

@media (min-width: 600px) {
  .l-footer .l-footer__nav li {
    flex-basis: auto;
  }
}

.l-footer .l-footer__nav a {
  border-right: initial;
  font-size: var(--child-font-size-lv3);
  font-weight: var(--child-font-weight-lv7);
  letter-spacing: var(--child-letter-spacing-lv6);
}

.l-footer .l-footer__nav a:hover {
  color: var(--child-color-base-darken-lv3);
  text-decoration: none;
  transition: all .3s ease;
}

.l-footer .copyright a {
  color: inherit !important;
  text-decoration: none !important;
}

/*
## BREADCRUMB
-------------------------------------------------------------*/
.p-breadcrumb {
  background-color: var(--child-color-main-darken-lv0);
}

.p-breadcrumb .p-breadcrumb__list {
  color: var(--child-color-base);
  flex-wrap: wrap;
}

@media (max-width: 599px) {
  .p-breadcrumb .p-breadcrumb__list {
    display: block;
    -ms-overflow-style: none;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
  }

  .p-breadcrumb .p-breadcrumb__list::-webkit-scrollbar {
    display: none;
  }
}

.p-breadcrumb .p-breadcrumb__text span.icon-home:before {
  display: none;
}

.single .p-breadcrumb__item:last-child > span.p-breadcrumb__text {
  display: block !important;
  opacity: 1;
  white-space: pre-wrap;
}

/*
## PAGE TITLE
-------------------------------------------------------------*/
.c-pageTitle {
  font-size: var(--child-clamp-font-lv6);
  text-align: center;
}

.c-pageTitle .c-pageTitle__subTitle {
  display: none;
}

/*
## POST TITLE
-------------------------------------------------------------*/
.post-template-default.single-post .c-postTitle .c-postTitle__ttl {
  display: none;
}

/*
## POST LIST
-------------------------------------------------------------*/
.home .p-postList.-type-card .p-postList__title {
  font-size: var(--child-font-size-lv3);
}

.home .p-postList.-type-card .p-postList__excerpt {
  color: var(--child-color-accent-tertiary);
  font-size: var(--child-font-size-lv2);
  font-weight: var(--child-font-weight-lv6);
}

.blog .p-postList .p-postList__title,
.archive .p-postList .p-postList__title {
  font-size: var(--child-font-size-lv3);
}

.blog .p-postList .p-postList__excerpt,
.archive .p-postList .p-postList__excerpt {
  color: var(--child-color-accent-tertiary);
  font-size: var(--child-font-size-lv2);
  font-weight: var(  --child-font-weight-lv6);
}

.p-postList.-type-simple .p-postList__body {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

@media (min-width: 960px) {
  .p-postList.-type-simple .p-postList__body {
    align-items: center;
    flex-direction: row;
    gap: 2em;
  }
}

.p-postList.-type-simple .p-postList__meta {
  font-size: var(--child-font-size-lv0);
  margin: 0 !important;
}

.p-postList.-type-simple .p-postList__times {
  color: var(--child-color-main);
  font-weight: var( --child-font-weight-lv5);
  margin: 0 !important;
  opacity: 1;
  /* TODO：枠線で囲む一旦保留
  border: 1px solid var(--child-color-main);
  padding: 4px 8px;
  */
}

.p-postList.-type-simple .p-postList__link:hover {
  background-color: inherit;
  transition: none;
}

.p-postList.-type-simple .p-postList__title,
.p-postList.-type-simple .p-postList__times {
  transition: color .3s ease;
}

.p-postList.-type-simple .p-postList__link:hover .p-postList__title {
  color: var(--child-color-base-darken-lv5);
}

.p-postList.-type-simple .p-postList__link:hover .p-postList__times {
  color: var(  --child-color-main-lighten-lv5);
}

/*
## POST TIMES
-------------------------------------------------------------*/
.c-postTimes .c-postTimes__posted {
  line-height: 1;
}
.c-postTimes .c-postTimes__posted::before {
  display: none;
}

/*
## TAB LIST
-------------------------------------------------------------*/
.c-tabList .c-tabList__button[aria-selected=true]:before {
  display: none;
}
.c-tabList .c-tabList__button::before {
  display: none !important;
}

/*
## ARTICLE BOTTOM
-------------------------------------------------------------*/
.l-articleBottom .p-postList.-type-card .p-postList__title {
  font-size: var(--child-clamp-font-lv0);
}

.news-template-default.single-news .l-articleBottom .l-articleBottom__section.-related {
  display: none;
}

/*
## PAGE TOP
-------------------------------------------------------------*/
@media (min-width: 960px) {
  .c-fixBtn.hov-bg-main:hover {
    background-color: var(--wp--preset--color--white) !important;
    color: var(--color_main) !important;
    opacity: .75;
  }
}

/*-------------------------------------------------------------
# BLOG PARTS
-------------------------------------------------------------*/
.single-news .p-blogParts .wp-block-heading {
  display: block;
  font-size: 4.5vw;
  margin-bottom: 1.5em;
  position: relative;
}
@media (min-width: 600px) {
  .single-news .p-blogParts .wp-block-heading {
    font-size: 20px;
  }
}

/*-------------------------------------------------------------
# PAGE
-------------------------------------------------------------*/
/*
## TOP
-------------------------------------------------------------*/
/*
### mainVisual
-------------------------------------------------------------*/
.p-mainVisual .p-mainVisual__imgLayer img {
  display: none;
}

.p-mainVisual .p-mainVisual__slideTitle {
  font-size: var(--child-clamp-font-lv7);
  font-weight: var(--child-font-weight-lv7);
  letter-spacing: var(--child-letter-spacing-lv8);
}

.p-mainVisual .p-mainVisual__slideText {
  font-size: var(--child-clamp-font-lv1);
  letter-spacing: var(--child-letter-spacing-lv8);
}

/*
### wp-block-heading
-------------------------------------------------------------*/
.home .wp-block-heading.is-style-section_ttl {
  font-size: var( --child-clamp-font-lv6);
}

/*
## WORKS
-------------------------------------------------------------*/
@media (min-width: 782px) {
  .pc_only.is-works {
    display: block !important;
  }
  .sp_only.is-works {
    display: none !important;
  }
}

/*
### articleFoot
-------------------------------------------------------------*/
.p-articleFoot .p-articleMetas__termList::before {
  content: none;
}

.news-template-default.single-news .p-articleFoot {
  display: none;
}

/*
### mainContent
-------------------------------------------------------------*/
.post-template-default.single-post .l-mainContent .l-mainContent__inner > .post_content {
  margin-top: 0;
}

.post-template-default.single-post .l-content {
  padding-top: 0;
}

/*
### swell-block-fullWide
-------------------------------------------------------------*/
.single .post_content .swell-block-fullWide:first-of-type {
  padding-top: 2em !important;
}

@media not all and (min-width: 960px) {
  .single .post_content .swell-block-fullWide:first-of-type {
    padding-top: 1em !important;
  }
}

/*
## ABOUT
-------------------------------------------------------------*/
.page-id-2138 .c-pageTitle {
  display: none;
}

.page-id-2138 .l-mainContent .l-mainContent__inner > .post_content {
  margin-top: 0;
}

.page-id-2138 .l-content {
  padding-top: 0;
}

.page-id-2138 .post_content .swell-block-fullWide:first-of-type {
  padding-top: 2em !important;
}

.page-id-2138 .wp-block-gallery::after {
  content: "";
  width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px)*.5);
}
@media (min-width: 600px) {
  .page-id-2138 .wp-block-gallery::after {
    content: "";
    width: calc(25%* 2 - var(--wp--style--unstable-gallery-gap, 16px)* .75);
  }
}

/*
## NEWS
-------------------------------------------------------------*/

/*
## CONTACT
-------------------------------------------------------------*/

/*-------------------------------------------------------------
# WIDGET
-------------------------------------------------------------*/
.w-beforeFooter > .l-container {
  align-items: baseline;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 960px) {
  .w-beforeFooter > .l-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.c-widget .c-widget__title {
  font-size: var(--child-font-size-lv5);
}

#tag_cloud-10 .tagcloud .tag-cloud-link {
  background-color: var(--child-color-main);
  color: var(--wp--preset--color--white) !important;
}

.home .w-beforeFooter,
.page-id-2141 .w-beforeFooter,
.page-id-2138 .w-beforeFooter,
.page-id-3353 .w-beforeFooter,
.page-id-3347 .w-beforeFooter,
.page-id-3349 .w-beforeFooter,
.page-id-3913 .w-beforeFooter,
.single-news .w-beforeFooter,
.page-id-3694 .w-beforeFooter,
.page-id-3355 .w-beforeFooter {
  display: none;
}
/*-------------------------------------------------------------
# PLUGIN
-------------------------------------------------------------*/
/*
## wpforms
-------------------------------------------------------------*/
.wpforms-container .wpforms-field {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}
.wpforms-submit-container {
  margin-top: 1em !important;
}
div.wpforms-container-full .wpforms-confirmation-container-full {
  background: var(--wp--preset--color--white);
  border: 1px solid var(--child-color-gray-lv0);
  border-radius: var(--wpforms-field-border-radius);
}
div.wpforms-container-full input[type=text],
div.wpforms-container-full input[type=email] {
  height: 3.333em !important;
}
div.wpforms-container-full .wpforms-form button[type=submit] {
  border-radius: 0 !important;
  font-size: var(--child-font-size-lv3) !important;
  height: 2.963em !important;
  width: 14.815em !important;
}
div.wpforms-container-full input[type=text]:focus,
div.wpforms-container-full input[type=email]:focus,
div.wpforms-container-full .wpforms-form textarea:focus,
div.wpforms-container-full input[type=text]:focus:invalid,
div.wpforms-container-full input[type=wmail]:focus:invalid,
div.wpforms-container-full .wpforms-form textarea:focus:invalid {
  border: 1px solid #f5d4b4;
  box-shadow: 0 0 0 1px #f5d4b4 ,0px 1px 2px rgba(0,0,0,.15);
}
div.wpforms-container-full .wpforms-field-label {
  font-size: var(--child-font-size-lv3);
}
div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  text-align: center !important;
}
div.wpforms-container-full button[type=submit]:hover {
  background: #eca761;
  transition: all .3s ease;
}
.grecaptcha-badge {
  bottom: 1.25em !important;
  left: 1em !important;
  width: 70px!important;
  z-index: 99 !important;
}
@media (min-width: 960px) {
  .grecaptcha-badge {
    bottom: 2.5em !important;
    left: 2.5em!important;
  }
}

.grecaptcha-badge:hover {
  left: 2.5em !important;
  width: 16em !important;
}

#wpmem_restricted_msg {
  font-size: var(--wp--preset--font-size--large) !important;
  text-align: center;
}

#wpmem_restricted_msg + a {
  background-color: #f09f4d;
  border: none;
  border-radius: 0;
  box-shadow: 0px 1px 2px rgba(0,0,0,.15);
  color: #f7f5f3;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: var(--child-font-size-lv3);
  font-weight: 500;
  height: 2.963em;
  line-height: 2.963em;
  margin-inline: auto;
  margin-top: 2.5em !important;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .15s ease-in-out;
  width: 14.815em;
}

#wpmem_restricted_msg + a:hover {
  background-color: #eca761;
  transition: all .3s ease;
}

/*
## WP-Members
-------------------------------------------------------------*/
#wpmem_login fieldset > legend {
  display: none;
}
#wpmem_login {
  width: auto;
}
#wpmem_login .form_custom label {
  color: var(--wpforms-label-color);
  display: block;
  font-size: var(--child-font-size-lv3);
  font-style: normal;
  font-weight: 700;
  margin: 0 0 1em 0;
  padding: 0;
  word-break: break-word;
  word-wrap: break-word;
}

#wpmem_login .form_custom {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

#wpmem_login input[type="text"],
#wpmem_login input[type="password"] {
  background-color: var(--wp--preset--color--white);
  border: 1px solid var(--wp--preset--color--white);
  border-radius: 3px;
  box-shadow: none;
  color: var(--color_main);
  font-size: 18px;
  line-height: 100%;
  padding: 0 14px;
  transition: border .15s, box-shadow .15s;
}

#wpmem_login input[type="text"],
#wpmem_login input[type="password"] {
  height: 3.333em !important;
}

#wpmem_login .button_div {
  text-align: left;
}

#wpmem_login .button_div label {
  font-size: var(--child-font-size-lv3);
}

#wpmem_login input[type="submit"] {
  background-color: var(--child-color-accent-secondary);
  border: none;
  border-radius: 0;
  box-shadow: 0px 1px 2px rgba(0,0,0,.15);
  color: var(--child-color-base);
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: var(--child-font-size-lv3);
  font-weight: 500;
  height: 2.963em;
  line-height: 100%;
  margin-inline: auto;
  margin-top: 2.5em;
  opacity: 1 !important;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  transition: all .15s ease-in-out;
  width: 14.815em;
}

#wpmem_login input[type="submit"]:hover {
  background-color: #eca761;
  transition: all .3s ease;
}

/*-------------------------------------------------------------
# ADD
-------------------------------------------------------------*/
/*
## container
-------------------------------------------------------------*/
.add-container {
  margin-inline: auto;
}

.add-container.-md {
  max-width: calc(var(--child-container-size-md, 0px) + var(--swl-pad_container, 0px)*2);
}

/*
## works-header
-------------------------------------------------------------*/
.add-works-header {
  justify-content: space-between;
}

.add-works-header .add-works-header__title .add-works-header__heading {
  font-size: var(--child-clamp-font-lv5);
}

.add-works-header .add-works-header__title .add-works-header__sub-heading {
  font-size: var(--child-clamp-font-lv2);
}

/*
## works-category
-------------------------------------------------------------*/
.add-works-category.-pc {
  border-left: 4px solid var(--child-color-accent-primary);
  padding-left: 2em;
}

.add-works-category.-sp {
  border-left: 4px solid var(--child-color-accent-primary);
  gap: 1em;
  padding-left: 1em;
}

/*-------------------------------------------------------------
# UTILITY
-------------------------------------------------------------*/
.u-clamp-font-lv0 {
  font-size: var(--child-clamp-font-lv0) !important;
}
.u-clamp-font-lv1 {
  font-size: var(--child-clamp-font-lv1) !important;
}
.u-clamp-font-lv2 {
  font-size: var(--child-clamp-font-lv2) !important;
}
.u-clamp-font-lv3 {
  font-size: var(--child-clamp-font-lv3) !important;
}
.u-clamp-font-lv4 {
  font-size: var(--child-clamp-font-lv4) !important;
}
.u-clamp-font-lv5 {
  font-size: var(--child-clamp-font-lv5) !important;
}
.u-clamp-font-lv6 {
  font-size: var(--child-clamp-font-lv6) !important;
}
.u-clamp-font-lv7 {
  font-size: var(--child-clamp-font-lv7) !important;
}
.u-drop-shadow-lv0 {
  filter: drop-shadow(var(--child-shadow-lv0));
}
.u-drop-shadow-lv1 {
  filter: drop-shadow(var(--child-shadow-lv1));
}
.u-drop-shadow-lv2 {
  filter: drop-shadow(var(--child-shadow-lv2));
}
.u-drop-shadow-lv3 {
  filter: drop-shadow(var(--child-shadow-lv3));
}
.u-drop-shadow-lv4 {
  filter: drop-shadow(var(--child-shadow-lv4));
}
.u-drop-shadow-lv5 {
  filter: drop-shadow(var(--child-shadow-lv5));
}
.u-drop-shadow-lv6 {
  filter: drop-shadow(var(--child-shadow-lv6));
}
.u-drop-shadow-lv6 {
  filter: drop-shadow(var(--child-shadow-lv7));
}

@media (min-width: 960px) {
  .u-sp-lg {
    display: none;
  }
}
@media (min-width: 782px) {
  .u-sp-md {
    display: none;
  }
}
@media (min-width: 600px) {
  .u-sp-sm {
    display: none;
  }
}
